<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <style>
        body{
            background-color: aqua;
        }
        h2{
            text-align: center;
        }
    </style>
</head>
<body>
    <h1 style="text-align: center;">Room list</h1>
    <!-- <h1>Name = <span th:text="${name}"> </h1>
    <h1>Age = <span th:text="${age}"> </h1> -->
    <table align="center" border="1" cellpadding="2" cellspacing="0" style="background-color: #EEEEEE;">
        <tr style="background-color: black; color: #EEEEEE;">
            <th width="100px">ID</th>
            <th width="300px">Name</th>
            <th colspan="2">Action</th>
        </tr>
        <tr>
            <tr th:each="room: ${rooms}">
                <td th:text="${room.roomID}"></td>
                <td th:text="${room.name_room}"></td>
                <td><form th:action="@{rooms/deleteRoom/{roomID} (roomID = ${room.roomID})}" method="POST">
                    <input type="submit" value="Delete" />
                </form>
                <td><a th:href="@{http://localhost:8080/rooms/editAtbOfRoom/{roomID} (roomID=${room.roomID})}">Edit Room</a></td>
            </tr>
        </tr>
    </table>
    <h2><a href="insertRoom">Insert a new Room</a></h2>
    <a href="./"><h2>Back to Home</h2></a>
</body>
</html>