<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>TimeSheets list by StaffID</h1>
    <!-- <h1>Name = <span th:text="${name}"> </h1>
    <h1>Age = <span th:text="${age}"> </h1> -->
    <table>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Gender</th>
            <th>EXP</th>
            <th>Phone</th>
            <th>Position</th>
            <th>RoomID</th>
            <th>Name room</th>
        </tr>
            <tr th:each="result: ${results}">
                <td th:text="${result.staffID}"></td>
                <td th:text="${result.full_name}"></td>
                <td>
                    <span th:if = "${result.gender} == 'true'" th:text="Female" ></span>
                    <span th:unless = "${result.gender} == 'true'" th:text ="Male"></span>
                </td>
                <td th:text="${result.experience}"></td>
                <td th:text="${result.phone}"></td>
                <td th:text="${result.name_Pos}"></td>
                <td th:text="${result.roomID}"></td>
                <td th:text="${result.name_room}"></td>
            </tr>
    </table>
    <div class="back-to-staffs"><a href="http://localhost:8080/staffs">Back to Staffs list Page</a></div>
</body>
</html>